.skill .body_wrap .user{
    width: 30%;
    float: left;
    height: 500px;
}
.skill .body_wrap .user .img{
    width: 200px;
    height: 200px;
    margin: 50px auto ;
    background-color: #ccc;
    border-radius: 50%;
}
.skill .body_wrap .user p{
    font-size: 20px;
}
.skill .body_wrap .skill_right{
    width: 70%;
    float: left;
}

.skill .body_wrap .skill_right .skill_right_top .box{
    text-align: left;
    padding: 40px;
}
.skill .body_wrap .skill_right .skill_right_top .box p{
    margin: 10px 0;
    position: relative;
}
.skill .body_wrap .skill_right .skill_right_top .box .date{
    position: relative;
    margin-top: 50px;
}
.skill .body_wrap .skill_right .skill_right_top .box> p::after,
.skill .body_wrap .skill_right .skill_right_top .box .date::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #45625e;
    left: -10px;
    top: 0%;
}
.skill .body_wrap .skill_right .skill_right_bottom .box{
    width: calc((100% - 32px) / 8);
    height: 80px;
    margin: 0 2px;
    background-size: 100%;
    float: left;
    background-repeat: no-repeat;
}
.skill .body_wrap .skill_right .skill_right_bottom .box.html{
    background-image: url('../images/free-icon-html-5-5968267.png');
}
.skill .body_wrap .skill_right .skill_right_bottom .box.css{
    background-image: url('../images/free-icon-css-3-5968242.png');
}
.skill .body_wrap .skill_right .skill_right_bottom .box.js{
    background-image: url('../images/png-transparent-javascript-logo-html-comment-blog-others-miscellaneous-angle-text.png');
}
.skill .body_wrap .skill_right .skill_right_bottom .box.react{
    background-image: url('../images/img.png');
}
.skill .body_wrap .skill_right .skill_right_bottom .box.node{
    background-image: url('../images/nodejs.jpg');
    width: calc((100% - 32px) / 8*2);
}
.skill .body_wrap .skill_right .skill_right_bottom .box.pho{
    background-image: url('../images/pho.png');
}
.skill .body_wrap .skill_right .skill_right_bottom .box.ai{
    background-image: url('../images/Ai.png');
}
@media (max-width:1240px) {
    .skill .body_wrap .skill_right .skill_right_top .box{
        font-size: 14px;
        padding-top: 60px;
    }
    .skill .body_wrap .user{
        padding-top: 40px;
    }
}