body{
  position: relative;
  background-position: center;
  background-image: url('./images/back.jpg');
  overflow-y: hidden;
}
.body_box{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.body_wrap{
  background-image: url('./images/middle.png');
  max-width: 1080px;
  height: 605px;
  background-size: 100%;
  background-position: center;
  margin: 0 auto ;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
}
.container {
  display: flex;
  height: 500px;
  overflow: hidden;
  width: 90%;
  padding: 50px;
}
.body_wrap .img_box .img{
  background-image: url('./images/main1.png');
  height: 605px;
  width: 1080px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.body_wrap .img_box .img:nth-child(2){
  background-image: url('./images/main2.png');
}
.body_wrap .img_box .img:nth-child(3){
  background-image: url('./images/main3.png');
}
.body_wrap .img_box .name{
  background-image: url('./images/main_name.png');
  width: 178px;
  height: 44px;
  position: absolute;
  top: 16px;
  left: -118px;
}
.full-page-controls{
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: fixed;
}
.full-page-controls button{
  font-size: 0;
  display: block;
  width: 2px;
  height: .5px;
  border: 0;
  margin: 5px 0;
  position: relative;
  background-color: #fff;
  transition: .3s;
}
.full-page-controls button:first-child,
.full-page-controls button:last-child{
  display: none;
}
.full-page-controls button:disabled{
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  height:10px;
}